* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  position: relative;
}

.obj-with {
  max-width: 1200px;
  margin: auto;
}

nav {
  background-color: #2e4c51;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 0;
}

.navbar .logo {
  font-size: 2.2rem;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
}

#search-input {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  color: black;
  max-width: 400px;
}

#search-button {
  background-color: rgb(26, 156, 93);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

/* main here card ............. */

#blog-container {
  padding: 3rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  /* gap: 10px; */
}

.card-blog {
  width: 280px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.card-blog:hover{
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.card-blog img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1.2rem;
}

.card-blog h3{
    color: rgb(88, 85, 85);
    font-size: 30px;
    font-weight: bold;
}

.card-blog p{
    padding-top: 0.7rem;
    font-size: 20px;
    
}

@media(max-width: 500px){
    .navbar .logo {
        font-size: 1.8rem;
        text-decoration: none;
        color: white;
    }
    #search-input {
        width: 150px;
        padding: 10px 10px;
        /* font-size: 20px; */
    }
    .navbar {
        /* display: flex; */
        margin: 0px 5px;
      }

      .card-blog {
        width: 100%;
        /* margin: 10px; */
        
      }

}